html {
  position: relative;  
}


body {
 	margin-bottom: 60px;
 	min-width: 800px;
}


.container-fluid {
	background-color: darkolivegreen ;
}


#myNavbar ul li a {
	text-decoration: none;
}


.navbar-header a {
	text-decoration: none;
}


.footer { 
 	width: 100%; 
 	height: 60px;
	line-height: 60px; 
	background-color: #f5f5f5;
}


a {
	text-decoration: underline;
}


#moj-jumbotron h1 {
	color: red;
}


#moj-jumbotron p {
	color: green;
}


#moj-jumbotron {
	background-image: url("img/jumbotron_wallpaper.jpg");	
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}


#kol1, #kol2, #kol3 {
	height: 100%;
}


#gambia1 {	
	border: 3px;
	border-style: solid;
	padding: 15px;
	border-color: red;
	font-family: fantasy;
	color: #000080;
    background-color: oldLace;
}


#gambia2 {
	border: 3px;
	border-style: solid;
	padding: 15px;
	border-color: red;	
    font-family: fantasy;
    color: navy;	
    background-color: oldLace;
} 


#gambia3 {
	border: 3px;
	border-style: solid;
	padding: 15px;
	border-color: red;
	font-family: fantasy;
    color: navy;
    background-color: oldLace;
}


#gambia4 {
	border: 3px;
	border-style: solid;
	padding: 15px;
	border-color: red;
	font-family: fantasy;	
	color: navy;
    background-color: oldLace;
}


.cytat {
	font-style: oblique;
}


.nazwa {
	font-weight: bold;
}


#kol2 > img, iframe {
	width: 100%; 
	margin-top: 26px;
}





