

body {
	margin: 0 auto;
	width: 1000px;
	min-height: 800px;
}


.navbar {
	margin-top: 5px;	
	width: 100%;
	height: 100px;
	background: goldenrod;
	float: left;
}


.navbar-menu {
	margin-top: 20px;
	float: left;
	width: 45%;
	height: 60%;	
}


.navbar-menu-ul {
	margin: 3px;
	padding: 5px;
	list-style-type: none;
	margin-top: 7px;
}


.navbar-menu-ul li {
	float: left;
	padding: 5px;	
	margin-left: 10px;
}


.button {

	padding: 15px 30px;	
	font-size: 17px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #DC143C;
	border: none;
	border-radius: 10px;
	box-shadow: 0 9px #999;
	letter-spacing: 2px;
}


.button:hover {background-color: #3e8e41}


.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}


.navbar-logo {
	margin-top: 20px;
	float: right;
	width: 20%;
	height: 60%;	
}


.center {
	margin-top: 2px;
	width: 100%;	
	background: ivory;
	float: left;
}


.center-left {
	float: left;
	width: 17%;
	height: 1172px;
	margin: 5px;
	border: 1px solid black;
}



.sidenav {
	display: inline-block;
	padding: 10px 15px;
	font-size: 10px;
	cursor: pointer;
	text-align: center;	
	outline: none;
	color: #fff;
	background-color: #DC143C;
	border: none;
	border-radius: 10px;
	box-shadow: 0 9px #999;
	margin: 15px;	
}


.sidenav a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	color: white;
}

.center-center {
	float: left;
	width: 59%;
	height: 1172px;
	margin: 5px;
	border: 1px solid black;
}


.center-center-up {
	width: 100%;
	height: 230px;
	float: left;
	background: url("img/m.jpg") no-repeat;
	opacity: 0.5;
	color: navy;
	font-weight: bold;
	font-family: fantasy;
	font-size: 10px;
	text-align: center;
}


.center-center-down {
	float: left;	
}


.naglowek1 {
	width: 100%;
	height: 80px;
	float: left;
	color: red;
	font-weight: bold;
	font-family: fantasy;
	font-size: 30px;
	text-align: center;
	text-shadow: 3px 2px pink;
}


.text1 {
	float: left;	
	font-size: 14px;
	padding: 8px;
	font-family: arial;
	text-indent: 10px;
}


.naglowek2 {
	border: 2px;
	border-style: solid;
	border-color: red;
	background-color: oldLace;
	padding: 10px;
	font-family: fantasy;
	color: navy;
	text-align: center;
	float:left;
	width:96%	
}






.center-right {
	float: left;
	width: 20%;
	height: 1172px;
	margin: 5px;
	border: 1px solid black;
}


.right-h {
	text-align: center;
	font-weight: bold;
	font-variant: small-caps;
    font-size: 8px;
    color: navy;
    padding-top: 17px;
}


.right-p {		
	float: left;
	font-size: 14px;
	padding: 17px;
	font-family: arial;
	text-indent: 10px;
}


.footer {
	margin-top: 2px;
	width: 100%;
	height: 50px;
	background: goldenrod;
	float: left;
	text-align: center;
	padding-top: 20px;
}


.about-ul {
	padding: 3px;
	margin: 0;
	list-style-type: none;
}
.about-ul li {
	display: block;
}


